<div class="row">
    <h2 class="hl1"> {{ task.name }}</h2>
    <input type="text" class="hl2" [value]="task.description">
    {{task.description}}
    <div class="char">
        <div>
            <div class="blue" *ngIf="task.statut"></div>
            <div class="red" *ngIf="!task.statut"></div>
        </div>

        <div class="date">
            {{ task.date.getFullYear() + "/" + task.date.getMonth() + "/" + task.date.getDay() }}
        </div>
    </div>
    <div>
        <button (click)="delete()" class="delete">Delete</button>
    </div>
</div>