<style>
    .row{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100%;
        background-color: whitesmoke;
        padding: 2px;
        font-family: 'Courier New', Courier, monospace;
        box-shadow: 1px 0.4px 1px 0.25px rosybrown;
        transition-duration: 1s;
    }

    .row:hover{
        transform: scale(1.08);
        box-shadow: 1px 0.4px 1px 0.25px rosybrown inset;
    }

    .hl1{
        font-size: 12px;
        padding-left: 3px;
        margin: 0px;
    }

    .hl2 {
        margin: 1px;
        font-size: 14px;
    }

    .char {
        border-top: 3px solid grey;
        margin: 0px;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        text-align: center;
    }

    .date {
        width: 100%;
        text-align: right;
    }

    .red {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 100%;
        margin: 3px;
    }

    .blue {
        width: 10px;
        height: 10px;
        background-color: blue;
        border-radius: 100%;
        margin: 3px;
    }

    .delete {
        margin: 3px;
        border: none;
        padding: 5px;
        color: white;
        font-weight: bold;
        background-color: rgba(212, 31, 31, 0.813);
    }
</style>

<div class="row">
    <h2 class="hl1"> {{ task.name }}</h2>
    <input type="text" class="hl2" [value]="task.description">
    {{task.description}}
    <div class="char">
        <div>
            <div class="blue" *ngIf="task.statut"></div>
            <div class="red" *ngIf="!task.statut"></div>
        </div>

        <div class="date">
            {{ task.date.getFullYear() + "/" + task.date.getMonth() + "/" + task.date.getDay() }}
        </div>
    </div>
    <div>
        <button (click)="delete()" class="delete">Delete</button>
    </div>
</div>