.button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
    margin-top: 9px;
    cursor: pointer;
    transition-duration: 1s;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

.button:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 19px;
    text-align: center;
    margin-top: 9px;
    cursor: pointer;
}

input[type=text]{
    margin: 5px;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

textarea{
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

.container{
    padding: 5%;
    background-color: whitesmoke;
    box-shadow: 1px 3px 0.99px gray;
}